{% extends "::base.html.twig" %}

{% block body %}
   <div class="container">
       <div class="row">
           <div class="col-md-9">
               {% for message in app.session.flashbag.get('success') %}
                   <div class="alert alert-success">{{ message }}</div>
               {% endfor %}
               <div class="panel panel-success">
                   <div class="panel-heading">
                       <h3 class="panel-title">Name</h3>
                   </div>
                   <div class="panel-body">
                       <table class="table table-responsive">
                           <tr>
                               <td>Nom</td>
                               <td>{{ contact.name }}</td>
                           </tr>
                           <tr>
                               <td>Email</td>
                               <td>{{ contact.email }}</td>
                           </tr>
                           <tr>
                               <td>Address</td>
                               <td>{{ contact.address }}</td>
                           </tr>
                           <tr>
                               <td>Phone number</td>
                               <td>{{ contact.phone }}</td>
                           </tr>
                           <tr>
                               <td>Website link</td>
                               <td><a href="{{ contact.website }}" target="_blank">{{ contact.website }}</a></td>
                           </tr>
                           <tr>
                               <td></td>
                               <td>
                                   <a href="{{ path('carnet_edit', { id: contact.id }) }}" class="btn btn-warning">
                                       Editer <i class="glyphicon glyphicon-edit"></i>
                                   </a>
                                   <a href="{{ path('carnet_delete', {'id' : contact.id }) }}" class="btn btn-danger">
                                       Supprimer <i class="glyphicon glyphicon-trash"></i>
                                   </a>
                               </td>
                           </tr>
                       </table>
                   </div>
               </div>
           </div>
           {% include '@Carnet/Front/sidebar.html.twig' %}
       </div>
   </div>
{% endblock %}
